.Intro-container {
    max-width: 1600px;
    width: 100%;
}


.intro {
    max-height: 600px;
    height: 100%;
    max-width: 1500px;
    width: 100%;
    margin: 0.5rem auto;
    gap: 16px 16px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;

}

.intro a {
    color: white;
}


.hero-cover {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}



.intro .hero-cover {
    background-size: cover;
    border-radius: 0.5rem;
    position: relative;
}

.hero-cover {
    filter: brightness(0.8);
}


.second-cover {
    max-height: 300px;
    border-radius: 0.5rem;
    position: relative;
}

.second-cover-gird-img {
    width: 100%;
    filter: brightness(0.3);
}

.intro .secondary-covers img {
    max-height: 310px;
    height: 100%;
}

img {
    border-radius: 0.5rem;
}

.home-hero-title {
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.6);
    font-size: 32px;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.home-hero-title-date {
    font-size: 16px;
    color: #FCFCFC;
    opacity: 0.57;
    text-align: left;
}

.home-second-title {
    font-size: 26px;
    color: white;
    position: absolute;
    overflow-wrap: break-word;
    bottom: 10%;
    text-align: left;
    left: 5%;
}

.home-second-title-date {
    font-size: 14px;
    color: #FCFCFC;
    opacity: 0.57;
    text-align: left;
}

.home-second-title-2 {
    font-size: 26px;
    color: white;
    text-align: left;
    position: absolute;
    top: 35%;
    left: 5%;
}

.home-hero-title-date-2 {
    font-size: 18px !important;
    color: #FCFCFC;
    opacity: 0.57;
    text-align: left;
}



@media screen and (max-width: 970px) {

    .home-second-title-2 {
        font-size: 25px;
    }

    .home-second-title {
        font-size: 25px;
    }

    .intro {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 800px) {

    .intro {
        grid-template-columns: 1fr;

    }

    .second-cover-2 {
        display: none;
    }

    .second-cover {
        display: none;
    }

    .intro .hero-cover {
        height: 360px;
    }

    .home-hero-title {
        font-size: 24px;
    }

}



.hero-cover a {
    color: white;
}